In [2]:
import numpy as np
import pandas as pd

In [5]:
clusters_0 = pd.read_csv("/Users/MiladM-Dev/Documents/1PhD/project-1-N450/project-1.1-gendata/Nextstrain/trial-1/results/clustered.txt", sep="\t", header=None, names=["SequenceName", "ClusterNumber"])
metadata = pd.read_csv("/Users/MiladM-Dev/Documents/1PhD/project-1-N450/project-1.1-gendata/Nextstrain/trial-1/results/metadata.tsv", sep="\t", header=0, names=["SequenceName", "type", 'date'])  # Make sure 'Sample' column matches
merged = pd.merge(clusters_0, metadata, on="SequenceName")
merged.to_csv("/Users/MiladM-Dev/Documents/1PhD/project-1-N450/project-1.1-gendata/Nextstrain/trial-1/results/clustered_metadata.csv", index=False)
merged

     SequenceName ClusterNumber type        date
0        11-00417             1   G3  2011-05-04
1        11-00410             1   G3  2011-05-04
2        11-00415             1   G3  2011-05-04
3        11-00250             1   G3  2011-03-28
4        11-00251             1   G3  2011-03-28
...           ...           ...  ...         ...
3458     13-00389           142   D8  2013-06-05
3459     13-00385           142   D8  2013-06-05
3460     13-00383           142   D8  2013-06-05
3461     13-00418           142   D8  2013-06-04
3462     13-00419           142   D8  2013-06-04

[3463 rows x 4 columns]

In [ ]:
# Load cluster assignments (change file path if needed)
#df = pd.read_csv("clusters.txt", sep="\t", header=None, names=["Cluster", "Sample"])

# Get unique clusters
clusters = clusters_0['ClusterNumber'].unique()

# Assign a random hex color to each cluster
def random_color():
    return "#{:06x}".format(random.randint(0, 0xFFFFFF))

cluster_colors = {cluster: random_color() for cluster in clusters}

# Write the iTOL colorstrip file
with open("/Users/MiladM-Dev/Documents/1PhD/project-1-N450/project-1.1-gendata/Nextstrain/trial-1/results/itol_clusters.txt", "w") as f:
    f.write("DATASET_COLORSTRIP\n")
    f.write("SEPARATOR TAB\n")
    f.write("DATASET_LABEL\tTreeCluster Clusters\n")
    f.write("COLOR\t#000000\n\n")
    
    f.write("LEGEND_TITLE\tClusters\n")
    f.write("LEGEND_SHAPES\t" + "\t".join(["1"] * len(clusters)) + "\n")
    f.write("LEGEND_COLORS\t" + "\t".join([cluster_colors[c] for c in clusters]) + "\n")
    f.write("LEGEND_LABELS\t" + "\t".join(clusters) + "\n")
    
    f.write("DATA\n")
    for _, row in clusters_0.iterrows():
        f.write(f"{row['SequenceName']}\t{row['ClusterNumber']}\t{cluster_colors[row['ClusterNumber']]}\n")

In [ ]:
from ete4 import Tree
t = Tree("/Users/MiladM-Dev/Documents/1PhD/project-1-N450/project-1.1-gendata/Nextstrain/trial-1/results/RAxML_bipartitionsBranchLabels.tree", format=1)